@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: black;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
}

nav .nav-items a {
  margin: 0 1rem;
}

main {
  padding: 1rem;
  position: relative;
}

main h1 {
  text-align: center;
  font-size: 54px;
  margin: 20px 0px;
}

.cart-and-checkout {
  display: flex;
  align-items: flex-start;
  padding: 0px 20px 0px 80px;
}

main .items {
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  /* overflow-x: scroll; */
  gap: 1rem;
}

main .items .item {
  border: 1px solid black;
  width: 310px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
}

main .items .item img {
  width: 100%;
  height: 450px;
  /* object-fit: cover;
  display: block; */
  padding: 10px;
}

main .items .item .row {
  display: flex;
  justify-content: space-between;
}

main .items .item .info {
  padding: 1rem;
}

main .items .item .info p {
  font-size: 18px;
  margin: 3px 0px;
}

main .items .item button {
  width: 100%;
  border-radius: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  background-color: black;
  cursor: pointer;
}

#checkout {
  width: 25%;
  /* padding: 20px; */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#checkout h3 {
  text-align: center;
  margin: 20px;
}

.item-price-list li {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

#total {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: none;
  border-right: none;
}

#checkout button {
  margin: 20px;
  padding: 10px 40px;
  font-size: 16px;
}
